@import "tailwindcss";


@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }

  
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
